<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{ results|length }} products in {{ name }}'s cart </h1>
{% for r in results %}
<h2> {{ r.name }}</h2>
<p>  {{ r.desc }}</p>
<p>  {{ r.price }}</p>
<form action="/api/cart" method="POST">
    <input type="text" name="op_type" value="delete" hidden>
    <input type="text" name="product_id" value= "{{ r._id }}" hidden>
    <input type="submit" name="submit" value="REMOVE" >

</form>
{% endfor %}
<h3>Total : {{ total }}</h3>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="upload" value="1">
    <input type="hidden" name="business" value="sunil3590@gmail.com">
    <input type="hidden" name="currency_code" value="INR">
    {% for product in results %}
        <input type="hidden" name='{{ "item_name_" ~ loop.index }}' value="{{ product.name }}">
        <input type="hidden" name='{{ "amount_" ~ loop.index }}' value="{{ product.price }}">
    {% endfor %}
    <button type="submit">Check out with PayPal</button>
</form>
</body>
</html>