<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<bod
    <h1>{{ massage }}</h1>
<h1> SIGNUP</h1>
<form action="/api/user" method="POST">

    <input type="text" name="op_type" value="insert" hidden>
    <input type="text"  name="name" placeholder="Name" required><br>
    <input type="text" name="username" placeholder="username" required><br>
    <input type="password"  name="password" placeholder="password">
    <input type="submit" value="SIGNUP">


</form>

<h1> LOGIN</h1>
<form action="/api/user" method="POST">

    <input type="text" name="op_type" value="login" hidden>
    <input type="text"  name="username" placeholder="username" required><br>
    <input type="password" name="password" placeholder="password" required><br>
    <input type="submit" value="LOGIN">


</form>

</body>
</html>